<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Triangle</title>
        {% load static %}
        <link rel="stylesheet" href="{% static 'triangle/style.css' %}">
    </head>
    <body>
        <header><h1>Triangle calculator</h1></header>
        <main>
            {% if result %}
                <div class="result">Hypotenuse equals: {{ result }}</div>
            {% endif %}
            {% if error %}
                <div class="error">{{ error }}</div>
            {% endif %}
            <form action="{% url 'triangle:triangle' %}">
                {% csrf_token %}
                {{ form }}
                <input type="submit" value="Calculate" />
            </form>
        </main>
    </body>
</html>

